{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="details">
        {% include 'include/products_list_content.html' %}
    </div>

{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; GeekShop {% now "Y" %}</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}
